In [2]:
%pip install country_converter

Collecting country_converter
  Downloading country_converter-0.7.4.tar.gz (50 kB)
Requirement already satisfied: pandas>=1.0 in c:\users\esteban-dell\anaconda3\envs\my_env\lib\site-packages (from country_converter) (1.4.1)
Requirement already satisfied: pytz>=2020.1 in c:\users\esteban-dell\anaconda3\envs\my_env\lib\site-packages (from pandas>=1.0->country_converter) (2021.3)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\esteban-dell\anaconda3\envs\my_env\lib\site-packages (from pandas>=1.0->country_converter) (2.8.2)
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: numpy>=1.18.5 in c:\users\esteban-dell\anaconda3\envs\my_env\lib\site-packages (from pandas>=1.0->country_converter) (1.21.5)
Requirement already satisfied: six>=1.5 in c:\users\esteban-dell\anaconda3\envs\my_env\lib\site-packages (from python-dateutil>=2.8.1->pandas>=1.0->country_converter) (1.16.0)
Building wheels for collected packages: country-converter
  Building wheel for country-converter (setup.py): started
  Building wheel for country-converter (setup.py): finished with status 'done'
  Created wheel for country-converter: filename=country_converter-0.7.4-py3-none-any.whl size=53543 sha256=a9660cffab66efdab6805f3e8ec54a76091d5619b6eaaa9e9ad68245a2bf5462
  Stored in directory: c:\users\esteban-dell\appdata\local\pip\cache\wheels\d7\24\15\9aea58c388c3cb8c90968438c44267db6dcbac491b7b38a77b
Successfully built country-converter
Installing collected packages: country-converter
Successfully installed country-converter-0.7.4

In [1]:
import pandas as pd
import numpy as np
import pickle
import country_converter as coco
import geopandas as gdp

In [48]:
def calculate_total_ru_depend(df_ru_import, df_total_import, df_import_depend):
    df_ru_import[['Freq', 'SIEC', 'Partner','Unit','Country']] = df_ru_import['freq,siec,partner,unit,geo\TIME_PERIOD'].str.split(',', expand=True)
    df_ru_import.drop(columns=['freq,siec,partner,unit,geo\TIME_PERIOD', 'Freq', 'Partner', 'Unit', 'SIEC'], inplace=True)

    df_ru_import = df_ru_import.set_index('Country')
    df_ru_import = df_ru_import.replace(': ', np.nan)
    df_ru_import = df_ru_import.astype(np.float64)

    df_total_import[['Freq', 'SIEC', 'Partner','Unit','Country']] = df_total_import['freq,siec,partner,unit,geo\TIME_PERIOD'].str.split(',', expand=True)
    df_total_import.drop(columns=['freq,siec,partner,unit,geo\TIME_PERIOD', 'Freq', 'Partner', 'Unit', 'SIEC'], inplace=True)
    df_total_import = df_total_import.set_index('Country')
    df_total_import = df_total_import.replace(': ', np.nan)
    df_total_import = df_total_import.astype(np.float64)

    df_import_depend[['Freq', 'SIEC','Unit','Country']] = df_import_depend['freq,siec,unit,geo\TIME_PERIOD'].str.split(',', expand=True)
    df_import_depend.drop(columns=['freq,siec,unit,geo\TIME_PERIOD', 'Freq', 'Unit', 'SIEC'], inplace=True)
    df_import_depend = df_import_depend.set_index('Country')
    df_import_depend = df_import_depend.replace(': ', np.nan)
    df_import_depend = df_import_depend.astype(np.float64)
    print("df_import_dependancy: \n", df_import_depend)

    df_import_relative = df_ru_import.div(df_total_import, fill_value=0)  # This represents how much of the oil imports is from Russia
    df_import_depend_ru = df_import_depend.mul(df_import_relative, fill_value=0)  # This represents total dependency on oil also considering export and local production
    df_import_depend_ru.index = df_import_depend_ru.index.str.slice(-2)
    df_import_depend_ru.index = coco.convert(names=df_import_depend_ru.index.tolist(), to='name_short', not_found=None)
    df_import_depend_ru.index = df_import_depend_ru.index.str.replace("UK","United Kingdom")
    df_import_depend_ru.index = df_import_depend_ru.index.str.replace("EL","Greece")
    df_import_depend_ru.index.name = "Country"

    df_import_depend_ru = df_import_depend_ru.drop(["19"])

    df_import_depend_ru = pd.melt(df_import_depend_ru.reset_index(), id_vars=['Country'], value_vars=[(str(2000+i) + " ") for i in range(21)],var_name='Year', value_name='Import').sort_values(['Country', 'Year'])
    df_import_depend_ru["Year"] = pd.to_numeric(df_import_depend_ru["Year"], downcast='integer')
    df_import_depend_ru.reset_index(drop=True, inplace=True)

    return df_import_depend_ru

# 1. Imports of oil and petroleum products by partner country
## a. Dataframe: Imports of oil and petroleum products by partner country (From Russia) 2000-2020
source: https://ec.europa.eu/eurostat/databrowser/view/NRG_TI_OIL__custom_2512547/default/table?lang=en
## b. Dataframe: Imports of oil and petroleum products by partner country (From TOTAL) 2000-2020
source: https://ec.europa.eu/eurostat/databrowser/view/NRG_TI_OIL__custom_2512564/default/table?lang=en
## c. Dataframe: Relative dependency on import from Russia 2000-2020
As values of imports from Russia divided by total imports of oil and petroleum products
## d. Dataframe: Energy imports dependency - oil and petroleum products 2000-2020
source: https://ec.europa.eu/eurostat/databrowser/view/NRG_IND_ID__custom_2512645/default/table?lang=en
Calculated as (imports-exports)/gross_available_energy

In [49]:
df_oil_petrol_ru = pd.read_csv('datasets/nrg_ti_oil__custom_2512547_tabular.tsv', sep="\t" ,header = 0)
df_oil_petrol_total = pd.read_csv('datasets/nrg_ti_oil__custom_2512538_tabular.tsv', sep="\t" ,header = 0)
df_oil_petrol_depend = pd.read_csv('datasets/nrg_ind_id__custom_2512645_tabular.tsv', sep="\t" ,header = 0)
df_oil_petrol_depend_ru = calculate_total_ru_depend(df_oil_petrol_ru, df_oil_petrol_total, df_oil_petrol_depend)
with open('df_oil_petrol_ru.pickle', 'wb') as handle:
    pickle.dump(df_oil_petrol_depend_ru, handle, protocol=pickle.HIGHEST_PROTOCOL)

df_oil_petrol_depend_ru

19 not found in ISOnumeric
EL not found in ISO2
UK not found in ISO2

df_import_dependancy:
               2000      2001      2002      2003      2004     2005     2006   \
Country
AL           69.526    71.513    69.848    72.627    69.859   72.185   58.682
AT           89.043    89.079    93.789    93.570    93.687   92.053   95.689
BA              NaN       NaN       NaN       NaN       NaN      NaN      NaN
BE          100.157   100.821    98.924   100.801    99.813  100.759  100.778
BG           96.015    98.432    98.875    97.862    98.359  102.530   99.111
CY          100.309    97.540   102.023    97.768    97.809  102.313  104.179
CZ           95.310    97.452    93.622    95.754    93.631   97.493   96.890
DE           94.592    96.683    94.059    97.230    95.438   97.317   95.791
DK          -84.105   -71.347   -99.284   -99.795  -116.420 -104.447  -86.460
EA19         97.639    96.789    96.347    97.189    96.860   97.650   97.531
EE          101.467    93.712   100.990    97.816    99.308   98.847  105.361
EL          100.318    98.540   102.640    96.127   104.829   97.782  101.338
ES          101.034    99.293   101.174    99.603    99.377  101.243  100.839
EU27_2020    93.279    92.919    91.873    93.088    92.702   93.847   93.775
FI          104.066   103.436    93.885   101.183    96.144   99.097  100.390
FR           99.533    97.763    98.711    99.416    97.833   99.380   98.467
GE              NaN       NaN       NaN       NaN       NaN      NaN      NaN
HR           61.035    67.549    81.472    70.715    77.686   79.383   76.579
HU           75.879    71.482    72.854    76.342    78.211   81.998   79.333
IE           98.778   101.756   101.453   100.507   100.307  100.010  100.836
IS          104.289    99.691    97.354    94.231   103.321  102.012   97.386
IT           96.135    92.930    94.093    93.034    93.137   91.804   93.174
LT          100.978    75.440    76.469    89.443    94.759   93.445   97.953
LU          102.098    98.814   100.677   100.209    99.583   99.387  100.983
LV           94.867   101.365    97.990    99.216   100.288  102.174  102.196
MD              NaN       NaN       NaN       NaN       NaN      NaN      NaN
ME              NaN       NaN       NaN       NaN       NaN  100.000  100.000
MK           97.176   102.737   108.369    90.627   102.353  102.418  100.192
MT          100.246    99.822    99.817    99.843    99.850  100.000  100.000
NL           97.364    93.762    90.819    91.843    95.165   96.211   96.069
NO        -1598.987 -1746.682 -1637.971 -1345.487 -1114.600 -967.907 -858.789
PL           99.708    93.435    96.561    98.503    96.386   98.492  100.597
PT           99.384   102.833    96.235   103.090    97.866  102.342   99.083
RO           34.446    46.681    33.720    32.218    46.775   38.605   43.742
RS           32.827    66.062    73.800    77.778    84.411   85.043   85.927
SE          100.758   104.250    91.513   105.082    98.095  103.881   99.409
SI          101.542    97.925   100.672   101.333   101.377  101.248   97.810
SK           92.483    97.472    97.417   101.002   103.644   97.360  104.403
TR           93.420    91.950    91.384    93.171    93.072   90.900   94.048
UA           69.621    72.799    75.844    76.659    76.610   64.940   69.790
UK          -54.380   -43.822   -47.948   -33.389   -16.898   -3.113    8.659
XK          100.000   100.000   100.000   100.000   100.000  100.000  100.000

              2007     2008     2009   ...    2011     2012     2013   \
Country                                ...
AL           57.810   62.829   61.658  ...   30.864    2.005   26.113
AT           91.962   92.867   91.546  ...   92.308   92.243   92.440
BA              NaN      NaN      NaN  ...      NaN      NaN      NaN
BE           97.391  101.262   99.182  ...  100.535   99.213  101.920
BG          100.839   99.641  101.947  ...   98.637   97.892  104.578
CY           98.583  100.080   98.913  ...   95.790  100.980  100.817
CZ           96.307   97.636   96.799  ...   95.446   95.466   96.473
DE           94.357   96.227   96.503  ...   95.500   97.151   96.475
DK          -66.199  -49.170  -61.165  ...  -48.119  -35.050  -15.521
EA19         96.050   97.541   96.861  ...   96.273   96.736   96.883
EE          105.068   95.682  106.817  ...  100.337  100.283  103.619
EL          100.971  101.295   96.763  ...   93.929  101.387   94.730
ES           99.654  100.365   98.866  ...   99.793   96.758   97.355
EU27_2020    93.110   94.537   93.974  ...   93.345   93.855   94.323
FI          100.202  103.588  101.140  ...   99.935   95.631  109.192
FR           98.030   97.878   97.840  ...   98.354   98.222   99.313
GE              NaN      NaN      NaN  ...      NaN      NaN   95.270
HR           81.593   84.232   77.759  ...   81.229   75.150   78.793
HU           82.926   81.630   78.639  ...   83.116   82.009   85.254
IE           97.070  101.176   99.082  ...  101.753   99.325  101.065
IS           99.936   99.831  101.893  ...  100.573  100.716  101.794
IT           92.264   91.947   91.922  ...   91.039   90.065   90.714
LT           95.085   92.806   89.998  ...   91.549   93.114   93.369
LU           98.751  100.179  100.094  ...   99.685  100.461  100.325
LV           98.248   99.027   99.504  ...  101.825  101.679  100.387
MD              NaN      NaN      NaN  ...  100.020   97.197   98.964
ME          100.000  100.000  100.000  ...  100.000  100.000  100.000
MK           96.590   97.451  106.394  ...   97.307  103.737   93.931
MT          100.000  100.000   99.972  ...  101.587  101.386  104.622
NL           92.365   97.650   97.861  ...   92.251   97.903   95.284
NO        -1031.753 -817.782 -752.495  ... -759.057 -572.895 -474.033
PL          105.509   97.351   99.831  ...   96.829   96.625   93.539
PT           98.061  102.965   99.309  ...  100.829   99.180   97.143
RO           51.563   52.157   52.100  ...   47.394   52.173   47.653
RS           83.401   86.814   80.432  ...   72.639   65.435   60.724
SE           99.132  102.651  101.663  ...   98.623   95.509  100.436
SI           98.860  101.680  100.295  ...   99.703  104.251   97.257
SK          100.980  100.988   97.911  ...  100.898   99.435  100.996
TR           96.480   93.459   90.999  ...   91.454   95.648   93.079
UA           71.289   69.412   69.850  ...   73.640   69.033   70.843
UK            2.106    9.102    7.716  ...   26.808   36.673   39.547
XK          100.000  100.000  100.000  ...  100.000  100.000  100.000

             2014     2015     2016     2017     2018     2019     2020
Country
AL          23.111    6.395   26.408   40.254   33.284   28.314   37.374
AT          91.418   93.835   91.802   92.212   93.985   95.653   97.468
BA          96.591  104.760  104.837  100.316   97.049   93.188   99.810
BE         100.992  103.780   98.694   97.055  100.677  101.483  102.725
BG          98.707  101.827  100.510  101.588   95.744  102.601   97.511
CY          97.867  102.824  100.671  100.900   99.230   99.716  101.676
CZ          97.614   97.828   97.250   97.062   99.469   97.527  101.229
DE          95.908   96.541   96.374   95.834   95.484   97.339   96.544
DK          -9.933    5.297    2.537   -5.315   18.261   44.820   54.996
EA19        96.294   98.545   96.636   96.031   96.403   98.208   97.875
EE         101.688  101.744  101.507  115.048   84.630  129.644  130.198
EL          99.930  105.487   99.698   98.097   97.935   95.719  106.438
ES         101.662  102.151   99.236   97.849   98.957  101.835   99.355
EU27_2020   94.087   96.748   94.701   93.783   94.520   96.728   96.996
FI          98.175  109.478   97.364   96.110   98.182   95.120  102.416
FR          98.572   98.608   97.657   99.122   98.042   98.429   98.552
GE          96.614   98.081   95.780   96.509   99.511   96.545   99.367
HR          75.748   81.432   78.967   77.130   82.112   76.278   73.696
HU          88.264   93.700   90.073   86.980   86.217   86.649   87.085
IE          98.417  104.591   99.084   98.135   98.004   98.778  103.223
IS          98.979  102.534  100.979   99.799  105.828   95.742   95.886
IT          88.536   89.433   90.948   91.515   89.845   92.510   88.717
LT          93.153  100.712   97.912   94.995   98.438  100.828  102.673
LU         100.228   99.295  100.039   99.708   99.733  100.371   99.959
LV          92.444  102.920  109.121  100.121   98.079  100.194  105.579
MD          97.176  100.983  101.241   98.661   99.651  100.200  100.522
ME         102.947   97.670  104.508  101.866  100.654   96.899   95.291
MK          99.888   99.827  101.886   99.678   99.215  101.847  102.941
MT          98.273   97.876  101.815  104.180   97.417   97.803   99.270
NL          91.347  101.725   95.044   90.541   93.917  101.078  100.158
NO        -710.795 -747.480 -864.525 -714.510 -673.745 -776.553 -926.655
PL          95.451   99.497   94.957   98.598   98.770   97.333   96.861
PT          97.379  101.719   98.712  100.202  103.959   98.125   97.558
RO          54.945   54.243   57.326   61.289   63.128   65.367   64.704
RS          61.704   64.100   72.512   75.405   76.101   75.678   76.211
SE         101.572  114.645  107.341   86.791   90.630  106.841  127.812
SI          97.686   99.614  100.296  103.178   99.240  101.441   99.471
SK         102.547  100.607  102.026   97.540  101.251  101.264  101.986
TR          93.104   97.636   95.462   95.672   94.919   93.652   91.796
UA          69.136   74.950   84.760   80.810   82.173   80.268   81.877
UK          42.188   36.712   34.146   35.647   28.721   27.824      NaN
XK         100.000  100.000  100.000  100.000  100.000  100.000  100.000

[42 rows x 21 columns]

            Country  Year    Import
0           Albania  2000  0.000000
1           Albania  2001  0.000000
2           Albania  2002  0.000000
3           Albania  2003  0.000000
4           Albania  2004  0.000000
..              ...   ...       ...
898  United Kingdom  2016  3.221683
899  United Kingdom  2017  4.167897
900  United Kingdom  2018  3.329193
901  United Kingdom  2019  3.406691
902  United Kingdom  2020       NaN

[903 rows x 3 columns]

# 2. Imports of solid fossil fuels by partner country
## a. Dataframe: Imports of solid fossil fuels by partner country (from Russia) 2000-2020
source: https://ec.europa.eu/eurostat/databrowser/view/NRG_TI_SFF__custom_2512607/default/table?lang=en
## b. Dataframe: Imports of solid fossil fuels by partner country (from TOTAL) 2000-2020
source: https://ec.europa.eu/eurostat/databrowser/view/NRG_TI_SFF__custom_2512600/default/table?lang=en
## c. Dataframe: Relative dependency on import from Russia 2000-2020
As values of imports from Russia divided by total imports of solid fossil fuels
## d. Dataframe: Energy imports dependency - solid fossil fuels 2000-2020
source: https://ec.europa.eu/eurostat/databrowser/view/NRG_IND_ID__custom_2522510/default/table?lang=en
datasets/nrg_ind_id__custom_2522510_tabular.tsv

In [50]:
df_solid_fuel_ru = pd.read_csv('datasets/nrg_ti_sff__custom_2512607_tabular.tsv', sep="\t" ,header = 0)
df_solid_fuel_total = pd.read_csv('datasets/nrg_ti_sff__custom_2512600_tabular.tsv', sep="\t" ,header = 0)
df_solid_fuel_depend = pd.read_csv('datasets/nrg_ind_id__custom_2522510_tabular.tsv', sep="\t" ,header = 0)
df_solid_fuel_depend_ru = calculate_total_ru_depend(df_solid_fuel_ru, df_solid_fuel_total, df_solid_fuel_depend)
df_solid_fuel_depend_ru
with open('df_solid_fuel_ru.pickle', 'wb') as handle:
    pickle.dump(df_solid_fuel_depend_ru, handle, protocol=pickle.HIGHEST_PROTOCOL)

19 not found in ISOnumeric
EL not found in ISO2
UK not found in ISO2

df_import_dependancy:
              2000     2001     2002     2003     2004     2005     2006   \
Country
AL          58.904   75.294   75.807    9.375    9.375   16.667   16.667
AT          83.931   89.462   91.801   86.573   98.443   99.377   94.058
BA             NaN      NaN      NaN      NaN      NaN      NaN      NaN
BE          91.241  106.811   86.283   97.556  101.497  101.346   95.975
BG          35.200   35.837   38.013   35.698   40.703   36.878   35.207
CY         102.041  111.321  124.528   96.226   68.521  121.080  116.613
CZ         -21.976  -21.031  -17.330  -15.995  -13.844  -16.210  -16.349
DE          25.567   29.897   29.110   29.438   32.570   31.741   37.988
DK          94.921   96.575   88.376   98.258  101.382   94.385   93.605
EA19        52.316   54.133   54.220   54.777   58.289   58.002   61.032
EE         125.209   67.146   93.346  202.537   34.173   88.351  170.688
EL           8.497    9.202    6.969    4.732    5.096    4.148    2.670
ES          61.317   58.502   66.561   63.313   67.329   70.275   75.613
EU27_2020   29.849   31.318   32.021   33.288   36.106   35.711   37.585
FI          97.630  100.975   88.853  112.892  102.354  101.974   88.455
FR          86.282   88.166   92.822   81.754   94.264   94.378  104.870
GE             NaN      NaN      NaN      NaN      NaN      NaN      NaN
HR         110.931   92.728  101.175   99.820  109.338   91.319  108.978
HU          28.088   27.549   24.847   26.725   31.588   42.455   40.783
IE          93.250  100.420  102.912   95.772  102.762  100.823  100.216
IS         100.000  100.000  100.000  100.000  100.000  100.000  100.000
IT         104.619  101.128   95.532   97.661  101.121   99.423   99.653
LT         101.737   90.834  105.813  108.156  100.804  101.011   99.737
LU         100.000  100.000  100.000  100.000  100.000  100.000  100.000
LV          84.141   70.844  100.000  122.423   96.175   97.658  122.038
MD             NaN      NaN      NaN      NaN      NaN      NaN      NaN
ME             NaN      NaN      NaN      NaN      NaN   -2.107   -5.034
MK           6.624    5.570    5.141   10.595    5.943    7.912    9.558
MT           0.000    0.000    0.000    0.000    0.000    0.000    0.000
NL          99.394  100.349   99.686   98.886  101.018  101.267   98.685
NO          57.071  -13.307  -84.253 -139.527 -109.405  -53.076 -126.196
PL         -28.977  -29.268  -28.418  -26.188  -27.598  -23.767  -21.464
PT         102.868   92.953   99.944   99.726   95.207   96.301  105.555
RO          25.506   29.796   31.338   28.396   32.971   33.173   28.334
RS           3.396    1.930    1.894    3.436    5.336    8.153   10.402
SE         105.363   95.767   91.300  106.855   97.717  105.920   93.079
SI          18.774   18.534   19.596   20.401   21.864   20.998   20.042
SK          80.195   77.948   77.075   79.641   83.129   88.348   80.839
TR          39.100   29.835   41.659   49.516   50.100   51.942   51.687
UA           5.735    3.902    4.915   10.232    6.594    7.062   11.775
UK          39.599   55.903   48.222   50.656   60.373   72.263   76.086
XK           0.874    0.778    0.784    0.834    0.966    1.521    1.820

             2007     2008     2009   ...    2011     2012     2013     2014   \
Country                               ...
AL          16.667   12.857   97.661  ...   99.154   98.478   98.947  100.000
AT         102.092   99.809   95.880  ...   89.586  102.771   94.087  101.727
BA             NaN      NaN      NaN  ...      NaN      NaN      NaN   17.258
BE          96.399  106.420   82.701  ...  100.837   94.278   93.942   99.292
BG          38.844   42.952   27.193  ...   24.457   21.497   16.327   14.644
CY          67.468  102.489  123.607  ...    1.659  100.000  100.000  125.002
CZ         -14.880  -15.609  -19.578  ...  -11.301  -12.265   -9.915   -4.517
DE          37.027   38.281   35.425  ...   41.563   40.188   44.468   44.761
DK         100.345  108.459   97.989  ...  110.953   93.645   90.766  104.917
EA19        59.057   63.005   58.081  ...   61.160   60.600   61.228   63.332
EE         152.261  100.318    3.989  ...   90.945  150.787   88.072  105.698
EL           4.128    4.972    1.999  ...    2.939    2.278    3.222    2.895
ES          66.676   81.957   93.023  ...   67.723   74.799   66.306   75.294
EU27_2020   38.332   41.579   36.554  ...   40.421   39.847   39.039   41.490
FI          95.100  112.617  108.196  ...  115.327   86.827   88.331  117.483
FR          92.221  109.970   91.658  ...  100.722   96.707   93.953   98.998
GE             NaN      NaN      NaN  ...      NaN      NaN   48.825   57.298
HR         101.828  112.245   89.752  ...   98.401   87.870  110.070   92.339
HU          43.996   46.606   37.009  ...   36.190   34.112   26.542   27.909
IE          90.052  113.208  112.678  ...  114.526   89.555  112.413   97.780
IS         108.360   90.852  105.877  ...   98.112  104.778  100.000  100.000
IT          99.241  101.813   97.321  ...   96.050   96.642   96.205   98.702
LT          93.904  113.943   83.033  ...  110.947   95.936  107.663   98.115
LU         100.000  100.000  100.000  ...   98.703   98.005   94.572  106.827
LV          92.160   99.974   94.079  ...  102.285   99.312   91.219   77.451
MD             NaN      NaN      NaN  ...  104.310   96.622  103.107   92.230
ME          -2.784   -0.042   -1.947  ...   -2.748   -3.118   -1.196   -1.534
MK          10.506   10.199    3.168  ...    9.022    9.517    8.607   11.052
MT           0.000    0.000    0.000  ...    0.000    0.000    0.000    0.000
NL         100.646   99.178   97.889  ...  100.911   98.932   97.605  102.585
NO        -192.851 -175.224 -202.112  ...  -26.293   -6.527  -86.761  -30.440
PL         -15.272   -6.523   -5.166  ...   -0.999   -6.437  -10.173   -8.565
PT         100.504   91.148  106.755  ...   97.244  103.324   95.416   96.886
RO          34.231   26.471   13.245  ...   13.312   16.163   18.246   16.643
RS           8.382    9.535    7.287  ...    9.067    5.310    3.472    7.497
SE          98.299  104.410   76.985  ...  103.684   82.551   89.742  101.198
SI          20.639   28.745   17.882  ...   17.532   21.547   19.500   21.564
SK          95.439   85.910   83.068  ...   81.717   89.659   80.604   83.330
TR          49.432   43.987   44.221  ...   47.294   56.068   58.551   57.064
UA          15.186   12.574    3.583  ...    6.679   11.167    6.973   15.487
UK          68.577   75.724   79.795  ...   63.637   68.693   84.823   89.521
XK           1.007    1.125    0.438  ...    1.883    3.319    0.595    0.240

             2015     2016     2017     2018     2019     2020
Country
AL          64.100   95.901   38.627   32.637   57.943   53.934
AT          86.926   95.008   99.885   97.607   96.661   97.807
BA          17.839   14.941   17.657   14.883   19.768   15.417
BE          95.736   94.134   94.991  104.125  102.128  102.695
BG          11.220    9.773    9.362   10.148    7.227    9.229
CY         100.000    0.000  326.409   97.544  117.226  105.385
CZ          -1.823   -1.322    2.999    5.826    8.687   12.989
DE          45.422   49.609   45.297   42.117   47.245   44.120
DK          84.984   83.739  117.695  102.292  153.955   74.851
EA19        63.432   64.989   65.543   62.741   65.311   58.875
EE          -6.784   70.045   87.172   85.235  107.159  391.794
EL           2.838    4.356    4.750    5.136    6.361   10.176
ES          75.387   71.483   84.556   79.858   89.467   54.808
EU27_2020   40.994   41.102   43.249   43.766   43.259   35.838
FI          91.310   91.780   91.479  100.667   98.861   92.237
FR          98.388   93.660  101.944  101.006   99.554   96.299
GE          55.733   62.917   62.537   88.380  105.137   82.181
HR         103.036  102.035  100.725   91.331  107.309  105.977
HU          33.679   32.467   44.121   48.409   45.682   43.677
IE         102.975   84.274  109.797  112.854   68.227   60.334
IS         100.000  100.000  100.000  100.000  100.000  100.000
IT         100.150   97.519  100.193  100.981   98.556   93.027
LT          90.642   91.752  107.802   99.009  108.103   87.876
LU          99.841  106.764   96.213  100.888   93.136  112.266
LV          85.185   85.946   88.524   91.330  110.791   89.617
MD          97.473   78.908  114.103  105.009   90.080  103.189
ME          -3.081   -2.719   -6.653   -5.621   -7.055   -4.694
MK           8.878   12.743    9.115   13.858   11.742   10.602
MT           0.000    0.000    0.000    0.000    0.000    0.000
NL          96.563   99.554  100.826   99.813  102.148   91.935
NO           0.170   15.951   88.900   86.021   90.445   92.151
PL         -11.436  -11.704   -2.963    8.227    6.018    0.334
PT          98.477  102.301  105.604   98.914  122.131   -6.515
RO          16.658   19.478   18.364   17.562   22.038   22.000
RS           8.035    7.890    8.506   10.113   10.462    6.512
SE          97.375  115.743  101.303  100.259  103.209  100.347
SI          19.108   17.260   17.357   18.875   20.082   17.580
SK          84.537   83.260   87.818   91.865   92.216   86.166
TR          63.181   61.733   61.706   59.601   57.745   63.656
UA          31.234   34.207   48.477   49.165   50.735   48.243
UK          59.151   50.153   57.769   81.818   74.003      NaN
XK          -0.100   -0.113    0.020    0.045   -0.184    0.316

[42 rows x 21 columns]

# 3. Imports of natural gas by partner country
## a. Imports of natural gas by partner country (from Russia)
source: https://ec.europa.eu/eurostat/databrowser/view/NRG_TI_GAS__custom_2512614/default/table?lang=en
## b. Imports of natural gas by partner country (from TOTAL)
source: https://ec.europa.eu/eurostat/databrowser/view/NRG_TI_GAS__custom_2512612/default/table?lang=en
## c. Dataframe: Relative dependency on import from Russia 2000-2020

## d. Dataframe: Energy imports dependency - natural gas 2000-2020
source: https://ec.europa.eu/eurostat/databrowser/view/NRG_IND_ID__custom_2512658/default/table?lang=en

In [51]:
df_nat_gas_ru = pd.read_csv('datasets/nrg_ti_gas__custom_2512614_tabular.tsv', sep="\t" ,header = 0)
df_nat_gas_total = pd.read_csv('datasets/nrg_ti_gas__custom_2512612_tabular.tsv', sep="\t" ,header = 0)
df_nat_gas_depend = pd.read_csv('datasets/nrg_ind_id__custom_2512658_tabular.tsv', sep="\t" ,header = 0)
df_nat_gas_depend_ru = calculate_total_ru_depend(df_nat_gas_ru, df_nat_gas_total, df_nat_gas_depend)
with open('df_nat_gas_ru.pickle', 'wb') as handle:
    pickle.dump(df_nat_gas_depend_ru, handle, protocol=pickle.HIGHEST_PROTOCOL)

df_nat_gas_depend_ru

19 not found in ISOnumeric
EL not found in ISO2

df_import_dependancy:
               2000     2001      2002      2003      2004      2005   \
Country
AL            0.000    0.000     0.000     0.000     0.000     0.000
AT           80.582   72.177    72.239    80.219    79.901    88.453
BA              NaN      NaN       NaN       NaN       NaN       NaN
BE           99.321   99.653   102.055    98.897    99.925   100.517
BG           93.542   99.739   103.995    94.247    95.835    87.653
CY            0.000    0.000     0.000     0.000     0.000     0.000
CZ           99.758   96.317   102.001    98.163    91.092    97.807
DE           79.141   76.989    79.490    78.669    83.749    79.632
DK          -64.787  -65.956   -64.496   -55.666   -79.662  -113.888
EA19         68.828   65.048    69.545    69.865    69.678    72.274
EE          100.000  100.000   100.000   100.000   100.000   100.000
EL           99.062   99.215    97.416    98.809    97.534    99.094
ES          101.628   96.505   100.951    99.136    97.790   101.355
EU27_2020    65.721   62.501    66.701    67.344    66.769    68.986
FI          100.000  100.000   100.000   100.000   100.000   100.000
FR          100.034   93.085    98.017    95.465    96.316    99.256
GE              NaN      NaN       NaN       NaN       NaN       NaN
HR           40.964   29.557    24.888    27.624    23.461    23.697
HU           75.415   72.668    80.522    83.625    79.217    81.094
IE           72.109   81.622    81.582    85.788    81.200    86.101
IS            0.000    0.000     0.000     0.000     0.000     0.000
IT           81.132   77.127    84.077    80.345    83.754    84.697
LT          100.040   99.925    99.926   100.035    99.794   100.651
LU          100.000  100.000   100.000   100.000   100.000   100.000
LV          101.913   85.605    88.565   104.353   130.487   105.606
MD              NaN      NaN       NaN       NaN       NaN       NaN
ME              NaN      NaN       NaN       NaN       NaN     0.000
MK           99.285   99.851   100.375   100.032   100.147    99.520
MT            0.000    0.000     0.000     0.000     0.000     0.000
NL          -49.096  -56.229   -51.535   -45.025   -67.635   -59.277
NO        -1016.692 -708.709 -1298.906 -1181.816 -1627.512 -1743.107
PL           66.337   69.176    66.059    66.592    68.342    69.732
PT          100.265   99.869    99.904   100.267   100.037   103.794
RO           19.823   17.515    22.965    28.765    29.500    30.096
RS           59.332   73.728    79.073    83.794    88.887    88.262
SE          100.000  100.000   100.000   100.000   100.000   100.000
SI           99.268   99.393    99.371    99.528    99.519    99.630
SK           98.796   91.851   100.063    97.049   103.261    97.481
TR           95.358   98.846    97.319    97.528    96.863    97.112
UA           75.910   75.306    74.523    77.124    75.986    73.499
UK          -10.653   -9.625    -8.134    -8.176     1.669     6.988
XK            0.000    0.000     0.000     0.000     0.000     0.000

              2006      2007      2008      2009   ...     2011      2012   \
Country                                            ...
AL            0.000     0.000     0.000     0.000  ...     0.000     0.000
AT           88.199    82.665    88.464    86.896  ...   104.320    87.297
BA              NaN       NaN       NaN       NaN  ...       NaN       NaN
BE           99.803    99.473   100.399    99.311  ...   100.501    98.614
BG           89.935    91.462    96.232    98.620  ...    86.088    83.338
CY            0.000     0.000     0.000     0.000  ...     0.000     0.000
CZ          104.445    93.439    98.668   104.009  ...   110.225    88.993
DE           81.956    77.710    82.233    85.762  ...    86.754    85.687
DK         -103.337   -99.698  -120.970   -91.842  ...   -55.119   -53.133
EA19         74.611    71.909    73.042    73.981  ...    74.558    71.893
EE          100.000   100.000   100.000   100.000  ...   100.000   100.000
EL           99.063    99.130   100.010    99.728  ...   100.031   100.321
ES          101.325    99.121   100.937    98.896  ...   101.613    98.246
EU27_2020    71.235    68.666    70.137    70.679  ...    71.625    69.243
FI          100.000   100.000   100.000   100.000  ...   100.000   100.000
FR           99.614    96.475    97.792   100.861  ...   103.328    96.807
GE              NaN       NaN       NaN       NaN  ...       NaN       NaN
HR            8.023     9.175    16.564     8.087  ...    19.510    37.047
HU           82.195    79.939    88.125    85.629  ...    65.568    72.274
IE           90.978    92.137    92.210    93.990  ...    95.563    95.211
IS            0.000     0.000     0.000     0.000  ...     0.000     0.000
IT           91.178    87.025    90.309    88.595  ...    90.154    90.217
LT          101.033   102.904    96.302   100.370  ...   100.267   100.061
LU          100.000   100.000   100.000   100.000  ...   100.000   100.000
LV          108.769    96.765    82.162   114.062  ...   109.413   113.794
MD              NaN       NaN       NaN       NaN  ...   100.059    99.992
ME            0.000     0.000     0.000     0.000  ...     0.000     0.000
MK          100.448   100.100    99.978    99.867  ...   100.000   100.000
MT            0.000     0.000     0.000     0.000  ...     0.000     0.000
NL          -61.701   -63.574   -72.908   -60.458  ...   -68.143   -75.970
NO        -1801.847 -1504.252 -1152.836 -1228.820  ... -1687.439 -1750.069
PL           70.732    66.022    72.614    67.345  ...    75.097    73.396
PT          100.606    98.748   100.141   101.166  ...   101.559    99.734
RO           33.743    30.286    29.039    15.104  ...    22.186    21.317
RS           88.160    89.928    89.288    90.409  ...    73.136    84.937
SE          100.000   100.000   100.000   100.000  ...   100.000   100.000
SI           99.618    99.718    99.706    99.690  ...    99.767    99.758
SK           96.560    97.864    96.311   108.579  ...   104.800    89.813
TR           96.942    97.842   100.200   100.083  ...    96.600   100.116
UA           74.646    72.761    80.410    75.111  ...    77.240    61.805
UK           11.784    20.287    26.103    33.168  ...    46.231    49.268
XK            0.000     0.000     0.000     0.000  ...     0.000     0.000

              2013      2014      2015      2016      2017      2018   \
Country
AL            0.000     0.000     0.000     0.000     0.000     0.000
AT           74.713    98.277    72.601    85.895    90.221    88.160
BA              NaN   100.000   100.000   100.000   100.000   100.011
BE          100.516   101.176    99.324   100.559    98.410   100.551
BG           92.825    94.067    97.007    96.452    97.609    98.729
CY            0.000     0.000     0.000     0.000     0.000     0.000
CZ          100.216    96.272    95.089    95.707   101.857    96.838
DE           86.921    89.426    90.057    88.560    91.373    95.893
DK          -23.231   -46.864   -48.153   -44.595   -56.066   -38.494
EA19         70.175    74.587    78.291    78.407    83.044    87.211
EE          100.000   100.000   100.000   100.000   100.000   100.000
EL           99.950    99.288    99.877    99.218   100.509   100.665
ES           98.621   103.536    96.890    98.742   101.292   101.419
EU27_2020    68.279    71.914    74.492    75.692    80.190    83.258
FI          100.000   100.000   100.000   100.000    98.890   100.253
FR           97.909   103.820    98.506    98.980    98.030   104.715
GE           99.730    99.552    99.548    99.720    99.652    99.576
HR           31.827    28.593    27.101    33.519    53.804    53.272
HU           72.126    97.666    69.674    78.882    96.250    77.943
IE           96.296    96.236    96.326    40.030    32.681    38.781
IS            0.000     0.000     0.000     0.000     0.000     0.000
IT           88.110    89.676    90.406    91.761    92.317    92.866
LT          100.038   104.135    99.706   100.605    99.320    98.920
LU          100.000   100.000   100.000   100.000   100.000   100.000
LV          115.588    72.123    98.565    82.892   101.989    98.834
MD           99.800   100.115    99.851   100.154    99.838   100.245
ME            0.000     0.000     0.000     0.000     0.000     0.000
MK          100.066    99.865   100.019   100.000   100.076   100.062
MT            0.000     0.000     0.000     0.000   105.197   109.481
NL          -86.935   -74.846   -36.656   -32.799    -4.364    14.959
NO        -1614.268 -1571.275 -1552.299 -1722.399 -2069.521 -1820.885
PL           74.202    71.971    72.206    78.378    77.772    77.602
PT          101.519   100.036   100.357    98.571   100.418   101.057
RO           11.843     4.976     1.802    13.025     9.697    12.026
RS           80.519    69.021    79.165    75.579    82.087    82.108
SE          100.000   100.000   100.000   100.000   100.000   100.000
SI           99.627    99.588    99.612    99.393    99.028    98.119
SK           95.337   104.812    95.052    92.848   105.587    89.556
TR           97.755    99.588    99.947    98.293   101.663    99.583
UA           57.260    47.008    50.959    34.409    45.869    32.975
UK           51.591    46.612    43.346    46.024    45.160    49.358
XK            0.000     0.000     0.000     0.000     0.000     0.000

              2019      2020
Country
AL            0.000     0.000
AT          122.849    73.247
BA          100.000   100.000
BE          101.797    99.132
BG          100.398    96.420
CY            0.000     0.000
CZ          109.753    86.038
DE          100.068    89.104
DK           -7.164    37.417
EA19         91.864    86.774
EE          100.000   100.000
EL           98.987   100.694
ES          101.495    97.474
EU27_2020    89.633    83.597
FI          100.563   100.293
FR          104.466    94.720
GE           99.643    99.671
HR           66.406    68.774
HU          115.206    75.622
IE           52.993    63.742
IS            0.000     0.000
IT           95.057    92.848
LT           99.965    98.929
LU          100.000   100.000
LV          100.032   100.099
MD           99.844    99.544
ME            0.000     0.000
MK           99.965    99.992
MT          103.623    96.165
NL           25.948    45.032
NO        -1905.009 -2031.075
PL           82.370    78.252
PT           99.930    99.280
RO           23.175    16.634
RS           90.387    79.643
SE          100.000   100.000
SI           99.201    99.371
SK          136.632    88.052
TR           98.788    98.580
UA           40.966    31.181
UK           49.837       NaN
XK            0.000     0.000

[42 rows x 21 columns]

UK not found in ISO2

            Country  Year    Import
0           Albania  2000  0.000000
1           Albania  2001  0.000000
2           Albania  2002  0.000000
3           Albania  2003  0.000000
4           Albania  2004  0.000000
..              ...   ...       ...
898  United Kingdom  2016  0.000000
899  United Kingdom  2017  0.094446
900  United Kingdom  2018  1.601414
901  United Kingdom  2019  3.345057
902  United Kingdom  2020       NaN

[903 rows x 3 columns]

In [52]:
shapefile = 'datasets/Europe.shp'
gdf = gdp.read_file(shapefile)
gdf = gdf[['NAME','geometry']]
gdf.columns = ['Country','geometry']
with open('gdf.pickle', 'wb') as handle:
    pickle.dump(gdf, handle, protocol=pickle.HIGHEST_PROTOCOL)
gdf

,Country,geometry
0,Albania,"MULTIPOLYGON (((19.50115 40.96230, 19.50563 40..."
1,Andorra,"POLYGON ((1.43992 42.60649, 1.45041 42.60596, ..."
2,Austria,"POLYGON ((16.00000 48.77775, 16.00000 48.78252..."
3,Belgium,"POLYGON ((5.00000 49.79374, 4.99724 49.79696, ..."
4,Bosnia Herzegovina,"POLYGON ((19.22947 43.53458, 19.22925 43.53597..."
5,Croatia,"MULTIPOLYGON (((14.30038 44.50156, 14.28972 44..."
6,Czech Republic,"POLYGON ((14.82523 50.87399, 14.83687 50.86996..."
7,Denmark,"MULTIPOLYGON (((11.99978 54.94118, 11.98534 54..."
8,Estonia,"MULTIPOLYGON (((23.97511 58.09691, 23.96645 58..."
9,Finland,"MULTIPOLYGON (((22.07310 60.22830, 22.06502 60..."
10,France,"MULTIPOLYGON (((-2.28137 46.68570, -2.31121 46..."
11,Germany,"MULTIPOLYGON (((13.11717 54.54924, 13.12529 54..."
12,Gibraltar (UK),"POLYGON ((-5.35322 36.15980, -5.34003 36.15975..."
13,Greece,"MULTIPOLYGON (((24.74283 37.59560, 24.73534 37..."
14,Guernsey (UK),"MULTIPOLYGON (((-2.52483 49.48867, -2.52034 49..."
15,Hungary,"POLYGON ((22.32725 48.36194, 22.32294 48.32583..."
16,Ireland,"MULTIPOLYGON (((-10.21726 51.74543, -10.22042 ..."
17,Isle of Man (UK),"MULTIPOLYGON (((-4.38349 54.32594, -4.37470 54..."
18,Italy,"MULTIPOLYGON (((12.46117 37.88075, 12.45686 37..."
19,Jersey (UK),"POLYGON ((-2.03507 49.19905, -2.03699 49.19314..."
20,Latvia,"POLYGON ((22.14997 57.64129, 22.17712 57.65100..."
21,Liechtenstein,"POLYGON ((9.53591 47.27354, 9.56037 47.24912, ..."
22,Lithuania,"MULTIPOLYGON (((26.22030 55.00000, 26.21693 54..."
23,Luxembourg,"POLYGON ((6.13802 50.13290, 6.14092 50.12927, ..."
24,Macedonia,"POLYGON ((22.37382 42.32667, 22.37228 42.32576..."
25,Malta,"MULTIPOLYGON (((14.33938 36.00751, 14.33490 36..."
26,Monaco,"POLYGON ((7.40680 43.73196, 7.40175 43.73449, ..."
27,Montenegro,"MULTIPOLYGON (((19.22947 43.53458, 19.22795 43..."
28,Netherlands,"MULTIPOLYGON (((6.05039 53.44675, 6.04538 53.4..."
29,Norway,"MULTIPOLYGON (((14.82404 68.21677, 14.80662 68..."
30,Poland,"MULTIPOLYGON (((14.21288 53.86478, 14.21349 53..."
31,Portugal,"MULTIPOLYGON (((-25.83763 37.88595, -25.83689 ..."
32,San Marino,"POLYGON ((12.51004 43.99981, 12.51557 43.99566..."
33,Serbia,"POLYGON ((18.83875 45.90742, 18.86463 45.91018..."
34,Slovakia,"POLYGON ((18.85061 49.52131, 18.85416 49.51941..."
35,Slovenia,"POLYGON ((16.56602 46.48372, 16.54178 46.48717..."
36,Spain,"MULTIPOLYGON (((-5.60904 36.00032, -5.61149 36..."
37,Sweden,"MULTIPOLYGON (((16.69817 57.43244, 16.69456 57..."
38,Switzerland,"POLYGON ((9.53591 47.27354, 9.52660 47.25858, ..."
39,United Kingdom,"MULTIPOLYGON (((-5.33523 51.85830, -5.34557 51..."
40,Armenia,"MULTIPOLYGON (((45.48185 40.65776, 45.49001 40..."
41,Azerbaijan,"MULTIPOLYGON (((49.02264 39.19647, 49.02892 39..."
42,Belarus,"POLYGON ((30.00000 51.48946, 29.95314 51.48722..."
43,Bulgaria,"POLYGON ((22.68183 44.21765, 22.68898 44.21381..."
44,Faeroe Islands (Denmark),"MULTIPOLYGON (((-6.37378 62.23575, -6.38222 62..."
45,Georgia,"POLYGON ((40.01024 43.38326, 40.01102 43.39860..."
46,Iceland,"MULTIPOLYGON (((-15.38783 64.35684, -15.39691 ..."
47,Jan Mayen (Norway),"POLYGON ((-8.13727 71.14619, -8.09449 71.14722..."
48,Moldova,"POLYGON ((27.72524 48.45466, 27.74713 48.45837..."
49,Romania,"MULTIPOLYGON (((29.59458 44.81385, 29.57739 44..."
50,Svalbard (Norway),"MULTIPOLYGON (((20.80218 78.56455, 20.80361 78..."
51,Turkey,"MULTIPOLYGON (((29.11932 40.83066, 29.11734 40..."
52,Ukraine,"MULTIPOLYGON (((33.52988 45.87363, 33.52778 45..."
53,Russia,"MULTIPOLYGON (((52.65438 71.45161, 52.64216 71..."

In [53]:
df_yr = df_nat_gas_depend_ru[df_nat_gas_depend_ru['Year'] == 2001]
merged = gdf.merge(df_yr, on='Country')
merged

In [40]:
df_nat_gas_depend_ru

            Country  Year    Import
0           Albania  2000  0.000000
1           Albania  2001  0.000000
2           Albania  2002  0.000000
3           Albania  2003  0.000000
4           Albania  2004  0.000000
..              ...   ...       ...
898  United Kingdom  2016  0.000000
899  United Kingdom  2017  0.094446
900  United Kingdom  2018  1.601414
901  United Kingdom  2019  3.345057
902  United Kingdom  2020       NaN

[903 rows x 3 columns]

In [10]:
df_sitc = pd.read_csv('datasets/ext_st_eu27_2020sitc_tabular.tsv', sep="\t" , header = 0)
df_sitc[['freq', 'stk_flow', 'indic_et', 'Partner', 'SITC', 'EU']] = df_sitc['freq,stk_flow,indic_et,partner,sitc06,geo\TIME_PERIOD'].str.split(',', expand=True)
del df_sitc['freq,stk_flow,indic_et,partner,sitc06,geo\TIME_PERIOD']; del df_sitc["freq"]; del df_sitc["EU"];
df_sitc = df_sitc.loc[df_sitc['Partner'] == 'RU']
df_sitc = df_sitc.loc[df_sitc['indic_et'] == 'TRD_VAL']
df_sitc = df_sitc.loc[df_sitc['stk_flow'] == 'IMP']
del df_sitc["Partner"]; del df_sitc["indic_et"]; del df_sitc["stk_flow"];
first_column = df_sitc.pop('SITC'); df_sitc.insert(0, 'SITC', first_column)
df_sitc = df_sitc.set_index('SITC').T
#df_sitc = df_sitc.T
#df_sitc = df_sitc.rename(columns={df_sitc.columns[0]: 'date'})
df_sitc = df_sitc.replace(': ', 0)
df_sitc = df_sitc.replace(': n', 0)
df_sitc = df_sitc.astype('float')
#first_column = df_sitc.pop('Partner'); df_sitc.insert(0, 'Partner', first_column)
df_sitc['date'] = df_sitc.index
df_sitc['date'] = pd.to_datetime(df_sitc['date'])
df_sitc = df_sitc.set_index('date')
df_sitc = df_sitc.resample('Y').sum()
df_sitc.index = pd.DatetimeIndex(df_sitc.index).year
#df_sitc = df_sitc.resample('Y', on='date').sum()
#df_sitc.groupby(pd.Grouper(freq='Y'))
#df_sitc.groupby(df_sitc['date'].dt.strftime('%B'))['SITC0'].sum().sort_values()
del df_sitc["TOTAL"]
df_sitc = df_sitc.drop([2022])
df_sitc

/var/folders/87/8h0tk4x16v12b0z4582cy0ch0000gn/T/ipykernel_38657/1761157754.py:1: DtypeWarning: Columns (13,14,15,16,19,24,25,26,27,28,29,30,34,127,129,131,132,133,134,135,136,139,146,147,148,150,151,162,167,173,174,178,179,182,183,184,185,186,188,191,192,193,194,195,198,199,200,203,204,205,206,207,209,212,216,217,218,219,220,223,224,225,231,232) have mixed types. Specify dtype option on import or set low_memory=False.
  df_sitc = pd.read_csv('datasets/ext_st_eu27_2020sitc_tabular.tsv', sep="\t" , header = 0)
/var/folders/87/8h0tk4x16v12b0z4582cy0ch0000gn/T/ipykernel_38657/1761157754.py:8: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  first_column = df_sitc.pop('SITC'); df_sitc.insert(0, 'SITC', first_column)

SITC,SITC0,SITC0_1,SITC1,SITC2,SITC2_4,SITC3,SITC33,SITC4,SITC5,SITC5-8,SITC6,SITC6_8,SITC7,SITC8,SITC9
date,,,,,,,,,,,,,,,
2002,985.0,1021.8,36.9,2607.1,2614.5,37748.7,30209.1,7.6,2161.3,9794.2,6379.3,6694.0,939.3,314.7,9967.3
2003,720.5,759.0,38.4,2834.7,2848.8,41651.9,33108.8,14.2,2413.0,10932.2,7072.9,7386.6,1132.3,313.8,11380.3
2004,524.4,559.1,34.7,4098.2,4122.6,47837.3,40116.0,24.6,2713.2,13510.3,9213.8,9589.6,1207.7,375.7,13253.4
2005,547.9,582.3,34.7,4092.7,4162.2,72244.2,62789.6,69.7,3279.5,14959.1,10121.0,10469.8,1210.1,348.7,14750.9
2006,673.5,717.1,43.7,4614.9,4729.8,91334.8,79698.3,115.0,3609.2,18060.7,12864.3,13286.1,1165.3,422.1,20638.2
2007,776.0,834.9,58.8,4646.6,4802.8,92729.5,81634.0,156.3,3978.3,20209.0,14335.2,14788.4,1442.1,453.0,21551.1
2008,704.4,777.4,73.1,4679.5,4876.6,119872.8,103672.3,197.1,4929.8,20056.9,13311.9,13703.0,1424.1,390.8,26637.5
2009,516.2,580.5,64.3,2163.0,2369.7,85644.1,69362.2,206.5,3081.7,11918.2,7425.7,7698.3,1138.1,273.0,14238.7
2010,469.6,530.9,61.6,3423.6,3620.5,117894.5,98754.5,197.0,4356.3,18023.0,12005.7,12320.9,1345.8,315.0,15728.1
2011,863.7,911.8,48.1,3940.1,4162.9,147986.3,125821.8,223.0,5319.8,20843.2,13497.4,13851.0,1672.1,353.7,19154.2
2012,1253.7,1305.2,51.5,3807.1,4224.2,157017.8,134796.7,417.0,5771.4,20735.5,12561.8,13008.4,1955.9,446.6,20324.4
2013,1058.6,1107.9,49.1,3391.3,3805.8,154568.8,131752.2,414.5,5869.1,19786.8,11644.6,12026.7,1891.3,381.9,19780.1
2014,1309.1,1371.6,62.3,3297.9,3425.8,130866.7,112547.6,128.0,6060.0,21512.4,13225.7,13545.1,1907.5,319.2,17530.0
2015,1274.9,1340.3,65.4,3063.2,3176.7,87815.4,71345.3,113.6,5292.3,21383.6,13551.7,13913.2,2178.2,361.6,16603.5
2016,1362.5,1440.3,77.7,3288.0,3383.1,75255.3,63124.4,95.1,4354.7,20721.7,13952.5,14394.6,1972.4,442.1,13139.5
2017,1267.0,1340.2,73.2,4105.1,4193.5,93519.7,77282.4,88.2,4737.3,23637.5,16241.9,16745.1,2154.9,503.2,15569.5
2018,1643.3,1739.2,96.0,4573.4,4665.9,109650.9,87350.3,92.4,5404.4,26651.8,18622.8,19117.8,2129.4,495.1,18204.1
2019,1513.3,1619.5,105.9,4591.5,4750.5,99648.2,80601.3,159.1,5537.6,24194.9,15766.4,16308.9,2348.3,542.5,14729.1
2020,1623.6,1720.8,97.5,4797.2,4974.7,59816.4,48242.6,177.3,4136.7,18872.6,12588.3,13102.1,1633.6,514.2,9357.4
2021,2013.0,2124.4,111.6,7017.9,7267.7,99149.4,74015.8,249.8,6764.3,29725.6,20290.8,21024.2,1936.8,733.7,20432.0

In [11]:
df_sitc.head()

SITC,SITC0,SITC0_1,SITC1,SITC2,SITC2_4,SITC3,SITC33,SITC4,SITC5,SITC5-8,SITC6,SITC6_8,SITC7,SITC8,SITC9
date,,,,,,,,,,,,,,,
2002,985.0,1021.8,36.9,2607.1,2614.5,37748.7,30209.1,7.6,2161.3,9794.2,6379.3,6694.0,939.3,314.7,9967.3
2003,720.5,759.0,38.4,2834.7,2848.8,41651.9,33108.8,14.2,2413.0,10932.2,7072.9,7386.6,1132.3,313.8,11380.3
2004,524.4,559.1,34.7,4098.2,4122.6,47837.3,40116.0,24.6,2713.2,13510.3,9213.8,9589.6,1207.7,375.7,13253.4
2005,547.9,582.3,34.7,4092.7,4162.2,72244.2,62789.6,69.7,3279.5,14959.1,10121.0,10469.8,1210.1,348.7,14750.9
2006,673.5,717.1,43.7,4614.9,4729.8,91334.8,79698.3,115.0,3609.2,18060.7,12864.3,13286.1,1165.3,422.1,20638.2

In [13]:
with open('df_sitc.pickle', 'wb') as handle:
    pickle.dump(df_sitc, handle, protocol=pickle.HIGHEST_PROTOCOL)

In [21]:
years_int = df_sitc.index.tolist()
years = list(map(str, years_int))
years

['2002',
 '2003',
 '2004',
 '2005',
 '2006',
 '2007',
 '2008',
 '2009',
 '2010',
 '2011',
 '2012',
 '2013',
 '2014',
 '2015',
 '2016',
 '2017',
 '2018',
 '2019',
 '2020',
 '2021']

['index' 'date' 'SITC0' 'SITC0_1' 'SITC1' 'SITC2' 'SITC2_4' 'SITC3'
 'SITC33' 'SITC4' 'SITC5' 'SITC5-8' 'SITC6' 'SITC6_8' 'SITC7' 'SITC8'
 'SITC9']

SITC,level_0,index,date,SITC0,SITC0_1,SITC1,SITC2,SITC2_4,SITC3,SITC33,SITC4,SITC5,SITC5-8,SITC6,SITC6_8,SITC7,SITC8,SITC9
0,0,0,2002,985.0,1021.8,36.9,2607.1,2614.5,37748.7,30209.1,7.6,2161.3,9794.2,6379.3,6694.0,939.3,314.7,9967.3
1,1,1,2003,720.5,759.0,38.4,2834.7,2848.8,41651.9,33108.8,14.2,2413.0,10932.2,7072.9,7386.6,1132.3,313.8,11380.3
2,2,2,2004,524.4,559.1,34.7,4098.2,4122.6,47837.3,40116.0,24.6,2713.2,13510.3,9213.8,9589.6,1207.7,375.7,13253.4
3,3,3,2005,547.9,582.3,34.7,4092.7,4162.2,72244.2,62789.6,69.7,3279.5,14959.1,10121.0,10469.8,1210.1,348.7,14750.9
4,4,4,2006,673.5,717.1,43.7,4614.9,4729.8,91334.8,79698.3,115.0,3609.2,18060.7,12864.3,13286.1,1165.3,422.1,20638.2
5,5,5,2007,776.0,834.9,58.8,4646.6,4802.8,92729.5,81634.0,156.3,3978.3,20209.0,14335.2,14788.4,1442.1,453.0,21551.1
6,6,6,2008,704.4,777.4,73.1,4679.5,4876.6,119872.8,103672.3,197.1,4929.8,20056.9,13311.9,13703.0,1424.1,390.8,26637.5
7,7,7,2009,516.2,580.5,64.3,2163.0,2369.7,85644.1,69362.2,206.5,3081.7,11918.2,7425.7,7698.3,1138.1,273.0,14238.7
8,8,8,2010,469.6,530.9,61.6,3423.6,3620.5,117894.5,98754.5,197.0,4356.3,18023.0,12005.7,12320.9,1345.8,315.0,15728.1
9,9,9,2011,863.7,911.8,48.1,3940.1,4162.9,147986.3,125821.8,223.0,5319.8,20843.2,13497.4,13851.0,1672.1,353.7,19154.2
10,10,10,2012,1253.7,1305.2,51.5,3807.1,4224.2,157017.8,134796.7,417.0,5771.4,20735.5,12561.8,13008.4,1955.9,446.6,20324.4
11,11,11,2013,1058.6,1107.9,49.1,3391.3,3805.8,154568.8,131752.2,414.5,5869.1,19786.8,11644.6,12026.7,1891.3,381.9,19780.1
12,12,12,2014,1309.1,1371.6,62.3,3297.9,3425.8,130866.7,112547.6,128.0,6060.0,21512.4,13225.7,13545.1,1907.5,319.2,17530.0
13,13,13,2015,1274.9,1340.3,65.4,3063.2,3176.7,87815.4,71345.3,113.6,5292.3,21383.6,13551.7,13913.2,2178.2,361.6,16603.5
14,14,14,2016,1362.5,1440.3,77.7,3288.0,3383.1,75255.3,63124.4,95.1,4354.7,20721.7,13952.5,14394.6,1972.4,442.1,13139.5
15,15,15,2017,1267.0,1340.2,73.2,4105.1,4193.5,93519.7,77282.4,88.2,4737.3,23637.5,16241.9,16745.1,2154.9,503.2,15569.5
16,16,16,2018,1643.3,1739.2,96.0,4573.4,4665.9,109650.9,87350.3,92.4,5404.4,26651.8,18622.8,19117.8,2129.4,495.1,18204.1
17,17,17,2019,1513.3,1619.5,105.9,4591.5,4750.5,99648.2,80601.3,159.1,5537.6,24194.9,15766.4,16308.9,2348.3,542.5,14729.1
18,18,18,2020,1623.6,1720.8,97.5,4797.2,4974.7,59816.4,48242.6,177.3,4136.7,18872.6,12588.3,13102.1,1633.6,514.2,9357.4
19,19,19,2021,2013.0,2124.4,111.6,7017.9,7267.7,99149.4,74015.8,249.8,6764.3,29725.6,20290.8,21024.2,1936.8,733.7,20432.0

In [57]:
with open('df_sitc.pickle', 'rb') as handle:
    df_sitc = pickle.load(handle)

df_sitc

df_sitc.columns.values.tolist()
print(df_sitc.columns.values)
df_sitc = df_sitc.reset_index()
df_sitc['date'] = df_sitc['date'].astype(str) # to show it in the x-axis
df_sitc

['SITC0' 'SITC0_1' 'SITC1' 'SITC2' 'SITC2_4' 'SITC3' 'SITC33' 'SITC4'
 'SITC5' 'SITC5-8' 'SITC6' 'SITC6_8' 'SITC7' 'SITC8' 'SITC9']

SITC,date,SITC0,SITC0_1,SITC1,SITC2,SITC2_4,SITC3,SITC33,SITC4,SITC5,SITC5-8,SITC6,SITC6_8,SITC7,SITC8,SITC9
0,2002,985.0,1021.8,36.9,2607.1,2614.5,37748.7,30209.1,7.6,2161.3,9794.2,6379.3,6694.0,939.3,314.7,9967.3
1,2003,720.5,759.0,38.4,2834.7,2848.8,41651.9,33108.8,14.2,2413.0,10932.2,7072.9,7386.6,1132.3,313.8,11380.3
2,2004,524.4,559.1,34.7,4098.2,4122.6,47837.3,40116.0,24.6,2713.2,13510.3,9213.8,9589.6,1207.7,375.7,13253.4
3,2005,547.9,582.3,34.7,4092.7,4162.2,72244.2,62789.6,69.7,3279.5,14959.1,10121.0,10469.8,1210.1,348.7,14750.9
4,2006,673.5,717.1,43.7,4614.9,4729.8,91334.8,79698.3,115.0,3609.2,18060.7,12864.3,13286.1,1165.3,422.1,20638.2
5,2007,776.0,834.9,58.8,4646.6,4802.8,92729.5,81634.0,156.3,3978.3,20209.0,14335.2,14788.4,1442.1,453.0,21551.1
6,2008,704.4,777.4,73.1,4679.5,4876.6,119872.8,103672.3,197.1,4929.8,20056.9,13311.9,13703.0,1424.1,390.8,26637.5
7,2009,516.2,580.5,64.3,2163.0,2369.7,85644.1,69362.2,206.5,3081.7,11918.2,7425.7,7698.3,1138.1,273.0,14238.7
8,2010,469.6,530.9,61.6,3423.6,3620.5,117894.5,98754.5,197.0,4356.3,18023.0,12005.7,12320.9,1345.8,315.0,15728.1
9,2011,863.7,911.8,48.1,3940.1,4162.9,147986.3,125821.8,223.0,5319.8,20843.2,13497.4,13851.0,1672.1,353.7,19154.2
10,2012,1253.7,1305.2,51.5,3807.1,4224.2,157017.8,134796.7,417.0,5771.4,20735.5,12561.8,13008.4,1955.9,446.6,20324.4
11,2013,1058.6,1107.9,49.1,3391.3,3805.8,154568.8,131752.2,414.5,5869.1,19786.8,11644.6,12026.7,1891.3,381.9,19780.1
12,2014,1309.1,1371.6,62.3,3297.9,3425.8,130866.7,112547.6,128.0,6060.0,21512.4,13225.7,13545.1,1907.5,319.2,17530.0
13,2015,1274.9,1340.3,65.4,3063.2,3176.7,87815.4,71345.3,113.6,5292.3,21383.6,13551.7,13913.2,2178.2,361.6,16603.5
14,2016,1362.5,1440.3,77.7,3288.0,3383.1,75255.3,63124.4,95.1,4354.7,20721.7,13952.5,14394.6,1972.4,442.1,13139.5
15,2017,1267.0,1340.2,73.2,4105.1,4193.5,93519.7,77282.4,88.2,4737.3,23637.5,16241.9,16745.1,2154.9,503.2,15569.5
16,2018,1643.3,1739.2,96.0,4573.4,4665.9,109650.9,87350.3,92.4,5404.4,26651.8,18622.8,19117.8,2129.4,495.1,18204.1
17,2019,1513.3,1619.5,105.9,4591.5,4750.5,99648.2,80601.3,159.1,5537.6,24194.9,15766.4,16308.9,2348.3,542.5,14729.1
18,2020,1623.6,1720.8,97.5,4797.2,4974.7,59816.4,48242.6,177.3,4136.7,18872.6,12588.3,13102.1,1633.6,514.2,9357.4
19,2021,2013.0,2124.4,111.6,7017.9,7267.7,99149.4,74015.8,249.8,6764.3,29725.6,20290.8,21024.2,1936.8,733.7,20432.0

In [51]:
with open('df_gas.pickle', 'rb') as handle:
    df_gas2 = pickle.load(handle)

df_gas2 = df_gas2[df_gas2['Year'] == 2020]
df_gas2.reset_index(drop=True, inplace=True)
df_gas2 = df_gas2.drop([0, 2, 9, 13, 21, 28, 29, 32, 36, 40, 41, 42, 43])
df_gas2 = df_gas2.drop(['Year'], axis=1)
df_gas2.reset_index(drop=True, inplace=True)
df_gas2

   Country  Gas_Import
0       AT       0.000
1       BE    1409.800
2       BG    2201.204
3       CY       0.000
4       CZ    7589.967
5       DE   52463.565
6       DK       0.000
7       EE     206.600
8       EL    2304.719
9       ES    3387.000
10    EU28       0.000
11      FI    1730.000
12      FR    7780.367
13      GE       0.000
14      HR       0.000
15      HU   11583.000
16      IE       0.000
17      IT   28716.082
18      LI      11.759
19      LT    1196.000
20      LU     191.546
21      LV    1114.949
22      MD    1056.000
23      MT       0.000
24      NL   15746.464
25      PL    9557.538
26      PT     572.708
27      RO     959.883
28      SE     184.303
29      SI      78.045
30      SK    3675.000